/* #footerDarkDiv{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    margin: 30px 15px 30px 15px;
    

  }
button{
    border-style: solid;
    color: #ffffff;
    border-color: #d2002d;
    background-color: #d2002d;
    border-radius: 10px;
    padding: 11px 20px 11px 20px;
    font-family: 'Barlow',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: none;
    letter-spacing: 2px;
    font-family: Vapideco,Helvetica,Arial,sans-serif;
} */

.dark-bg {
    position: relative;
    background: url('bg-img.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.custom-shape-divider-top-1647351484 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}
.custom-shape-divider-top-1647351484 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}
.custom-shape-divider-top-1647351484 .shape-fill {
    fill: #FFFDFF;
}

#menyy{
    background-color: #FFFDFF;
    width: fit-content;

}

.row {
    padding-top: 1em;
}

h3 {
    color: #272726;
    font-family: "Montez", Sans-serif;
    font-size: 3em;
    font-weight: 500;
    text-transform: none;
    line-height: 0.8em;
    letter-spacing: 1px;
    font-style: italic;
    
}

.btn-secondary {
    background-color: #E6BE2A;
    border-color: #E6BE2A;
    color: #3B3830;
}

.btn-secondary:hover {
    background-color: #f1d468;
    border-color: #f1d468;
    color: #3B3830;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 0.01rem solid;
    
}




.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
} 
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}
/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side */
.flip-box-front {
    color: black;
    background-color: #FFFDFF;
    border-color: black;
}
/* Style the back side */
.flip-box-back {
    background-color: #FFFDFF;
    color: black;
    transform: rotateX(180deg);
}